services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: avitointro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d avitointro"]  
      interval: 5s
      timeout: 3s
      retries: 3

  migrations:
    build: .
    depends_on:
      postgres:
        condition: service_healthy  
    command: >
      sh -c "
        make migration-up
      "
    restart: "no"

  app:  
    build: .
    container_name: app
    ports:
      - "8080:8080"  
    depends_on:
      migrations:
        condition: service_completed_successfully  
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: admin
      DB_PASSWORD: admin
      DB_NAME: avitointro